.container {
  &--page-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.page-header {
  position: relative;
  background: #222 url("../img/header-bg.png") top/cover no-repeat;
  background-blend-mode: overlay;
  height: 1024px;
  max-height: 100vh;
  &__top {
    flex: 0 0 auto;
    margin: 40px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input[type="radio"] {
      display: none;
    }
  }
}

.carousel {
  flex: 0 0 70%;
  position: relative;
  &__elem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0 15%;
    text-align: center;
  }
  &__content {
    color: $default-text-color;
    margin-bottom: 50px;
  }
  &__prev,
  &__next {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 56px;
    height: 56px;
    border: 3px solid rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
    &:hover {
      border-color: #c7b299;
    }
    &:active {
      border-color: rgba(199, 178, 153, 0.5);
    }
  }
  &__prev {
    left: 0;
    transform: translate(-150%, -50%) rotate(45deg);
    border-right: none;
    border-top: none;
    &:hover {
      transform: translate(-150%, -50%) rotate(45deg) scale(1.2);
    }
  }
  &__next {
    right: 0;
    transform: translate(150%, -50%) rotate(45deg);
    border-left: none;
    border-bottom: none;
    &:hover {
      transform: translate(150%, -50%) rotate(45deg) scale(1.2);
    }
  }

  &-dots {
    flex: 0 0 auto;
  }
}

#el1:checked ~ .carousel .carousel__elem--1,
#el2:checked ~ .carousel .carousel__elem--2,
#el3:checked ~ .carousel .carousel__elem--3,
#el4:checked ~ .carousel .carousel__elem--4,
#el5:checked ~ .carousel .carousel__elem--5 {
  z-index: 10;
  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.carousel-dots {
  text-align: center;
  margin-bottom: 5%;
  &__dot {
    display: inline-block;
    width: $default-fz * 0.625;
    height: $default-fz * 0.625;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    transition: transform 0.5s ease;
    &:hover {
      background-color: #c7b299;
    }
    &:active {
      background-color: rgba(199, 178, 153, 0.5);
    }
  }
}

#el1:checked ~ .carousel-dots #dot1,
#el2:checked ~ .carousel-dots #dot2,
#el3:checked ~ .carousel-dots #dot3,
#el4:checked ~ .carousel-dots #dot4,
#el5:checked ~ .carousel-dots #dot5 {
  transform: scale(1.5);
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #d3c1ad;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: $default-fz * 2.125;
  flex-grow: 1;
  font-weight: 400;
  display: flex;
  align-items: center;
  color: $default-text-color;
  text-decoration: none;
  &__img {
    width: 64px;
    height: 56px;
    margin-right: 2px;
  }
  &__text {
    line-height: $default-fz * 3.5;
  }
}

.page-nav {
  min-width: 55.641%;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  li {
    margin: 0 10px 0 0;
    &:last-child {
      margin: 0;
    }
  }
  margin-right: 60px;
}

.cart-and-search {
  display: flex;
  justify-content: space-between;
  &__img {
    width: 24px;
    height: 24px;
  }
  &__cart {
    margin-right: 30px;
  }
  &__search {
  }
}
