.svg-icon-bell-dims {
  width: 54px;
  height: 44px;
}
.svg-icon-cart-dims {
  width: 18px;
  height: 24px;
}
.svg-icon-clients-dims {
  width: 44px;
  height: 44px;
}
.svg-icon-coffee-dims {
  width: 48px;
  height: 44px;
}
.svg-icon-custom-dims {
  width: 44px;
  height: 44px;
}
.svg-icon-development-dims {
  width: 44px;
  height: 40px;
}
.svg-icon-heart-dims {
  width: 44px;
  height: 44px;
}
.svg-icon-marketing-dims {
  width: 52px;
  height: 36px;
}
.svg-icon-message-dims {
  width: 44px;
  height: 44px;
}
.svg-icon-pencil-dims {
  width: 49px;
  height: 49px;
}
.svg-icon-play-dims {
  width: 70px;
  height: 70px;
}
.svg-icon-search-dims {
  width: 24px;
  height: 24px;
}
.svg-logos-dims {
  width: 64px;
  height: 56px;
}
