.link {
  font-size: $default-fz*0.875;
  font-weight: 300;
  color: $default-text-color;
  text-decoration: none;
  transition: color 0.2s ease;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: transparent;
    transition: all 0.05s ease;
  }
  &:focus {
    // set for every element in style.scss
  }
  &:hover {
    outline: none;
    color: #c7b299;
    &::after {
      background-color: #c7b299;
      height: 1px;
    }
  }
  &:active {
    outline: none;
    color: rgba(199, 178, 153, 0.5);
    &::after {
      background-color: rgba(199, 178, 153, 0.5);
      height: 1px;
    }
  }
}

.btn {
  position: relative;
  display: inline-block;
  font-size: $default-fz*0.875;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1;
  white-space: nowrap;
  padding: 20px 38px;
  background-color: #998675;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  &:focus {
    // set for every element in style.scss
  }
  &:hover {
    transform: scale(0.98);
    box-shadow: inset 0 (-40px - $default-fz*0.875) 0 #736357;
  }
  &:active {
    transform: scale(0.98);
    color: $third-text-color;
  }
}
