.container {
  &--services {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &--ideas {
    padding-top: 80px;
  }
  &--projects {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  &--mobile {
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
}
.services {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
  }
  &__element {
    flex: 0 0 23%;
    text-align: center;
    &::after {
      content: "";
      margin: 0 auto;
      left: 50%;
      width: 25%;
      height: $default-fz * 0.125;
      display: block;
      background-color: $second-text-color;
      opacity: 0.3;
    }
    & *:not(.services__content) {
      transition: all 0.2s ease;
    }
    &:hover *:not(.services__content) {
      color: #c7b299;
    }
    &:hover::after {
      background-color: #c7b299;
      opacity: 1;
    }
  }
  &__icon {
    display: block;
    color: $third-text-color;
    font-size: $default-fz * 2.5;
    margin-bottom: 25px;
  }
  &__title {
    margin-bottom: 15px;
  }
  &__content {
    color: $second-text-color;
    font-size: $default-fz * 0.875;
    font-weight: 300;
    line-height: $default-fz * 1.5;
    letter-spacing: -0.5px;
    margin-bottom: 30px;
  }
}

.ideas {
  background: #fbfaf8;
  &__title {
    margin: 0 auto 20px;
  }
  &__content {
    margin: 0 auto 40px;
    text-align: center;
    line-height: 1.75;
    max-width: 800px;
    color: $second-text-color;
    text-align: center;
  }
  &__images {
    position: relative;
    height: calc(482 / 1230 * (40vw + 462px));
    max-height: 482px;
  }
  &__image {
    position: absolute;
    width: calc(770 / 1230 * 100%);
    max-width: 770px;
    &--left {
      bottom: 0;
      left: 0;
      z-index: 0;
    }
    &--center {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
    }
    &--right {
      bottom: 0;
      right: 0;
      z-index: 0;
    }
  }
}

.theme-offer {
  width: 100%;
  height: calc(150 / 1920 * 100vw);
  max-height: 150px;
  background: linear-gradient(to right, #211b19 0%, #4e3427 100%) #f4f5f8;
  &__wrapper {
    padding: 0 30px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    color: #615855;
    font-size: $default-fz * 1.125;
  }
  &__title {
    color: $default-text-color;
    font-family: "Raleway", sans-serif;
    font-size: $default-fz * 1.75;
    font-weight: 400;
  }
  &__waxom {
    color: #c7b299;
  }
}

.projects {
  &__title {
    margin: 0 auto 20px;
  }
  &__btn {
    display: block;
    margin: auto;
  }
  &__content {
    margin: 0 auto 40px;
    text-align: center;
    line-height: 1.75;
    max-width: 800px;
    color: $second-text-color;
    text-align: center;
  }
  &__buttons {
    margin: 0 auto 40px;
    display: flex;
    justify-content: center;
    input[type="radio"] {
      display: none;
      &:checked + label {
        background-color: #998675;
        color: $default-text-color;
      }
    }
    label {
      font-size: $default-fz * 0.875;
      line-height: $default-fz * 21/16;
      color: $second-text-color;
      padding: 10px 25px;
      border: 1px solid #ebebeb;
      border-radius: 3px;
      margin: 0 5px;
      transition: all 0.1s ease;
      cursor: pointer;
      &:hover {
        background-color: #d1d1d1;
      }
    }
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__card {
    &:hover {
      background-color: #362f2d;
      .projects__card-title {
        color: $default-text-color;
      }
      .projects__card-tags {
        color: #c7b299;
      }
      img {
        filter: brightness(0.3);
      }
    }
    transition: all 0.2s ease;
    flex: 0 0 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #fbfaf8;
    margin: 0 15px 30px;
    cursor: pointer;
    img {
      margin-bottom: 30px;
      transition: filter 0.2s ease;
    }
    &-title {
      font-family: "Raleway", sans-serif;
      font-size: $default-fz * 1.25;
      font-weight: 500;
      color: #c7b299;
      margin-left: 30px;
      margin-bottom: 10px;
    }
    &-tags {
      font-size: $default-fz * 0.875;
      line-height: $default-fz * 1.25;
      color: #d1d1d1;
      margin-left: 30px;
      margin-bottom: 15px;
    }
  }
}

.video {
  background: #444 url("../img/video-prev.png") top/cover no-repeat;
  background-blend-mode: overlay;
  height: calc(705 / 1920 * 100vw);
  &__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__button {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;
    margin-bottom: 45px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover {
      color: #c7b299;
    }
  }
  &__play-icon {
    // line-height: 100px;
    font-family: icon-font;
    font-size: 70px;
    margin: auto;
  }
  &__title {
    color: $default-text-color;
    font-weight: 500;
    margin-bottom: 30px;
  }
  &__description {
    max-width: 570px;
    line-height: 1.75;
    text-align: center;
    margin-bottom: 40px;
  }
  &__duration {
    font-size: $default-fz * 0.875;
    color: #c7b299;
    font-weight: 400;
  }
}

.mobile {
  &__left-block {
    align-self: end;
  }
  &__right-block {
    margin-left: 30px;
  }
  &__title {
    margin-top: 110px;
    margin-bottom: 35px;
    text-align: left;
  }
  &__description {
    line-height: 1.75;
    color: $second-text-color;
    margin-bottom: 40px;
  }
  &__list {
    line-height: 2;
    color: $second-text-color;
    list-style-type: none;
    margin-left: 100px;
    li {
      position: relative;
      &::before {
        font-family: "Raleway", sans-serif;
        position: absolute;
        left: -50px;
        top: 6px;
        content: '>';
        display: inline-block;
        border-radius: 50%;
        background-color: #c7b299;
        width: 20px;
        height: 20px;
        color: $default-text-color;
        text-align: center;
        font-size: 20px;
        line-height: 0.875;
      }
    }
  }
}