// Default values
$default-text-color: #fff;
$second-text-color: #8c8c8c;
$third-text-color: #555;
$default-fz: 16px;
$screen-width: 100vw;
$screen-height: 100vh;

@import "normalize";

@import "fonts";

@import "icons-dims";

@import "links";

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: $default-fz;
  color: $default-text-color;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: 3px solid rgba(115, 99, 87, 0.5);
  outline-offset: 2px;
}


img {
  max-width: 100vw;
}

a {
  text-decoration: inherit;
  font: inherit;
  color: inherit;
}

h1 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: $default-fz*3.25;
  line-height: 1.2;
  font-weight: 800;
  color: $default-text-color;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: $default-fz*2.125;
  line-height: 1.2;
  font-weight: 500;
  color: $default-text-color;
}

.container {
  max-width: 90%;
  height: 100%;
  margin: 0 calc(30% - 231px);
}

@import "header";
@import "main";
@import "footer";
